<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
  <default>
    <ajaxscroll>
      <general>
        <enabled>0</enabled>
        <enabled_top>0</enabled_top>
        <topb_icon></topb_icon>
        <loading_icon></loading_icon>
      </general>
    </ajaxscroll>
  </default>
</config>